[Unit]
Description=llama.cpp server
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/john/gpt-go/scripts/llama-server.sh
User=llama
Group=llama

[Install]
WantedBy=multi-user.target