[Unit]
Description=gpt-go webchat server
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/john/go/bin/webchat -nostream -openrouter
EnvironmentFile=/home/john/gpt-go/.env
User=john
Group=john

[Install]
WantedBy=multi-user.target